@model OrderModel

@{
    ViewData["Title"] = "Cell phone number confirmation";
}
<h1>Cell phone number confirmation</h1>


<p>
    Insert <em>confirmation code</em> from SMS.
</p>

<form action="@Url.Action(nameof(OrderController.ConfirmCellPhone))" method="post">
    <input type="hidden" name="cellPhone" value="@Model.CellPhone" />
    <div class="form-group">
        <label for="confirmationCode">Confirmation code</label>
        <input type="text" class="form-control" name="confirmationCode" placeholder="0000" />
        @if (Model.Errors.ContainsKey("confirmationCode"))
        {
            <small class="form-text text-danger">@Model.Errors["confirmationCode"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Check</button>
</form>
<p>
    If there is no SMS for a minute - check cell phone number and try again.
</p>

<form action="@Url.Action("SendConfirmationCode")" method="post">
    <div class="form-group">
        <label for="cellPhone">Cell Phone</label>
        <input type="text" class="form-control" name="cellPhone" value="@Model.CellPhone"/>
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Resend code</button>
</form>